body {
    --cite-color: #ffe6ce50;
    --cite-border: 0px solid var(--cite-color);
    --cite-border-hovered: 3px solid var(--cite-color);

    --code-border: 3px solid var(--link-visited-color);
    
    --background-color: #2c201e;
    --text-color: #e7d8c4;

    --link-normal-color: #f1a5a5;
    --link-hover-color: #dd9292;
    --link-visited-color: #cc6e6e;

    --keyword: #ec9634;
    --variable: #e6d576;
    --comments: #867772;
    --numbers: #99e676;
    --strings: #76e6d7;
    --built-in: #ec5934;

    background-color: var(--background-color);
    color: var(--text-color);

    font-family: "Amiko", sans-serif;

    margin: 0px;
    padding: 0px;
    height: 100vh;
}

h1 {
    border-left: var(--cite-border);
    padding-left: 4px;
    transition: 100ms border-left;
}

.readingArea > h1:hover { border-left: var(--cite-border-hovered); }

h2 {
    border-left: var(--cite-border);
    padding-left: 4px;
    transition: 100ms border-left;
}

.readingArea > h2:hover { border-left: var(--cite-border-hovered); }

h3 {
    border-left: var(--cite-border);
    padding-left: 4px;
    transition: 100ms border-left;
}

.readingArea > h3:hover { border-left: var(--cite-border-hovered); }

h4 {
    border-left: var(--cite-border);
    padding-left: 4px;
    transition: 100ms border-left;
}

.readingArea > h4:hover { border-left: var(--cite-border-hovered); }

h5 {
    border-left: var(--cite-border);
    padding-left: 4px;
    transition: 100ms border-left;
}

.readingArea > h5:hover { border-left: var(--cite-border-hovered); }

p {
    border-left: var(--cite-border);
    padding-left: 4px;
    transition: 100ms border-left;
}

.readingArea > p:hover { border-left: var(--cite-border-hovered); }

a {
    color: var(--link-normal-color);
    font-style: italic;
    font-weight: bold;
    cursor: pointer;
    font-style: underline;
}

a:visited { color: var(--link-visited-color); }

a:hover { background-color: var(--link-hover-color); color: var(--background-color); }

img {
    border-radius: 8px;
    border: var(--cite-border-hovered);
    
    min-width: 10%;
    image-rendering: pixelated;
}

a > img {
    border: none;

    aspect-ratio: 1;
    min-width: 0px;
    width: auto;
    height: 1.5rem;

    display: inline-block;
    vertical-align: text-bottom;
}

.readingArea {
    min-height: 80%;
    margin: 0px;
    padding-left: 4px;
    padding-right: 4px;
}

footer {
    background-color: #00000333;
    margin: 0px;
    min-height: 20%;
    text-align: center;
}

code {
    background-color: #00000333;

    overflow: auto;

    border-left: var(--code-border);
    white-space: pre;
    
    margin-left: 4px;
    margin-right: 4px;
    padding-left: 4px;
}

code.cm-s-default {
    display:block;
    overflow: auto;
}

table {
    border-collapse: collapse;
    margin: 4px;
    max-width: calc(100% - 8px);
}

table,
th,
td {
    border: 1px solid var(--text-color);
}

th, td { padding: 4px 10px 4px 10px; min-width: 32px; }

th {
    text-align: center;
    height: 50px;
}
tr {
    background: #00000333;
}

.cm-keyword { color: var(--keyword); }
.cm-variable { color: var(--variable); }
.cm-comment { color: var(--comments); font-style: italic; }
.cm-number { color: var(--numbers); }
.cm-builtin { color: var(--built-in); }
.cm-string { color: var(--strings); }
